.search-container {
  background-color: black;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5rem 1rem;
  padding: 5rem 1rem;
  box-sizing: border-box;
}

.no-results {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #c5c5c5;
  height: 100%;
  padding: 8rem;
}

.movie {
  flex: 0 0 auto;
  display: inline-block;
  position: relative;
}

.movie__column-poster::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 80%, rgba(0,0,0,0.7) 100%);
}
.movie__column-poster {
  cursor: pointer;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
}

.movie__column-poster:hover {
  transform: scale(1.25);
}

.movie__poster {
  width: 100%;
  border-radius: 5px;
}
.movie__title {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 1.3rem;
  font-weight: 600;
}