.banner {
  color: white;
  object-fit: contain;
  height: 448px;
  position: relative;
}

@media (min-width: 1500px) {
  .banner {
    height: 600px;
  }
  .banner--fadeBottom {
    height: 40rem;
  }
}

.banner--fadeBottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
  height: 7.4rem;
  background-image: linear-gradient(180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}

.banner__contents {
  position: absolute;
  left: 40px;
  bottom: 35px;
  z-index: 3;
}

.banner__title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 5rem;
}

.banner__description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-weight: 500;
  font-size: 1rem;
  max-width: 400px;
  height: 80px;
}

.banner__buttons {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.banner__button {
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.4rem 1rem;
  margin-right: 1rem;
}

.banner__button:hover {
  color: #000;
  background-color: rgba(170, 170, 170, 0.9);
  transition: all 0.2s;
}

.play {
  background-color: white;
  color: black;
  border-radius: 2px;
}

.play__stopbtn {
  padding: 0.3rem 0.6rem;
  border-radius: 0 0 7px 7px;
  background-color: rgba(255,255,255,0.8);
  outline: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .banner__contents {
    left: 30px;
  }
  
  .banner__title {
    font-size: 2rem;
    padding-bottom: 3rem;
  }

  .banner__description {
    font-size: 0.9rem;
    width: 90%;
  }

  .banner__button {
    font-size: 0.9rem;
    border-radius: 4px;
  }
}

@media (max-width: 500px) {
  .banner {
    height: 300px;
  }

  .banner__contents {
    left: 20px;
    bottom: 20px;
  }
  
  .banner__title {
    font-size: 1.5rem;
    padding-bottom: 2rem;
  }

  .banner__description {
    font-size: 0.8rem;
    height: 65px;
  }
}